@charset "utf-8";
// Bootstrap5 (parts)
@import "import_bootstrap";
// our components
@import "components/variables";
@import "components/icons";
@import "components/button-group";
@import "components/grid-layout";
@import "components/preview-generator";
@import "components/forms";
@import "components/tooltip";
@import "components/title";

.sr-only {
    @include visually-hidden
}

ul.nav {
    margin-bottom: 1em;
    & > li.nav-item {
        list-style-type: none;
        padding: inherit;
    }
}

@import "components/tabs";

input[type="number"].auto-field + span {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-right: 31px;
    margin-bottom: 23px;
    cursor: pointer;
}

/* Pixel pushing for standard django admin */
body:not(.djangocms-admin-style) input[type="number"].auto-field + span {
    margin-bottom: 23px;
}
@media (max-width: 1024px) {
    body:not(.djangocms-admin-style) input[type="number"].auto-field + span {
        margin-bottom: 24px;
    }
}

input[type="number"].auto-field + span:after {
    content: "auto";
}

input[type="number"].auto-field.auto {
    color:  var(--dca-white, var(--body-bg, white));
    caret-color: var(--dca-black, var(--body-fg, black));
    & + span {
        display: block;
    }
}
