@charset "utf-8";
// Bootstrap5 (parts)
@import "import_bootstrap";
// our components
@import "components/variables";
@import "components/icons";
@import "components/button-group";
@import "components/grid-layout";
@import "components/preview-generator";
@import "components/forms";
@import "components/tooltip";

.sr-only {
    @include visually-hidden
}

ul.nav {
    margin-bottom: 1em;
    & > li.nav-item {
        list-style-type: none;
        padding: inherit;
    }
}

@import "components/tabs";


input[type="number"].auto-field + span {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-right: 31px;
    margin-bottom: 23px;
    background: var(--dca-white, var(--body-bg, white));
    cursor: pointer;
}

input[type="number"].auto-field + span:after {
    content: "auto";
}

input[type="number"].auto-field.auto + span {
    display: block;
}
