@charset "utf-8";
// Bootstrap5 (parts)
@import "import_bootstrap";
// our components
@import "components/variables";
@import "components/icons";
@import "components/button-group";
@import "components/grid-layout";
@import "components/preview-generator";
@import "components/forms";
@import "components/tooltip";

.sr-only {
    @include visually-hidden
}

:root {
    color-scheme: dark light;
}

ul.nav {
    margin-bottom: 1em;
    & > li.nav-item {
        list-style-type: none;
        padding: inherit;
    }
}

@import "components/tabs";
