@import "components/variables";

/*
.btn-check:checked+.btn-outline-secondary.btn-grp {
    background: white;
}

*/
form .form-row  div.frontend-button-group.frontend-button-group-block {
    display: flex;
    flex-wrap: wrap;
    label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-basis: calc(25% - 6px);
        @media (min-width: 820px) {
            flex-basis: calc(20% - 6px);
        }
    }
}

form .form-row  div.frontend-button-group {
    & > label.btn-grp {
        margin: 3px;
        padding: 6px;
        text-transform: none;
        text-align: center !important;
        //border-color: transparent !important;
        outline:  3px solid transparent;
        width: auto !important;
        font-weight: normal !important;
    }
    & > input[property="color"]+label.btn-grp.btn-outline-secondary {
        // color: black !important;
    }
    & > input[type="radio"]:checked+label.btn-grp {
        outline:  3px solid $cms-primary;
        border-color: white;
        border-radius: 0;
    }
    & > input[property="opacity"]+label.btn-grp {
        width: 3.5em !important;
        padding-left: 0 !important;;
        padding-right: 0 !important;
        color: black !important;
        overflow: hidden;
        white-space: nowrap;
        background: rgba(var(--bs-secondary-rgb), calc(var(--fe-value) / 100));
    }
    & > input[property="opacity"][value="100"]+label.btn-grp,
    & > input[property="opacity"][value="75"]+label.btn-grp {
        color: white !important;
    }
    & > input[property="list_state"][value="active"]+label.btn-grp {
        background: var(--bs-primary);
    }
    & > input[property="list_state"][value="disabled"]+label.btn-grp {
        color: var(--bs-gray-600) !important;
        background: white;
    }

    & > input[property="shadow"]+label.btn-grp {
        margin-right: 1em;
        width: 3.5em !important;
        padding-left: 0 !important;;
        padding-right: 0 !important;
        //background: white;
        //color: black !important;
        text-align: center !important;
        border: var(--bs-secondary) 1px solid !important;
        overflow: hidden;
        white-space: nowrap;

    }

    & > input[property="shadow"][value="lg"]+label.btn-grp {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    }

    & > input[property="shadow"][value="reg"]+label.btn-grp {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    & > input[property="shadow"][value="sm"]+label.btn-grp {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }

    $btn-colors: [
        "primary",
        "secondary",
        "success",
        "danger",
        "warning",
        "info",
        "light"
        "dark"
    ];
    @each $key in $btn-colors {
        .btn-#{$key} {

        }
    }
    .btn-transparent {
        color:  black;
        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }

}
