[run]
branch = True
source = djangocms_frontend
omit =
    djangocms_frontend/contrib/forms/*
    djangocms_frontend/migrations/*
    djangocms_frontend/management/*
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
