ci:
    autofix_commit_msg: |
        ci: auto fixes from pre-commit hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: "ci: pre-commit autoupdate"
    autoupdate_schedule: monthly

repos:
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.20.0
      hooks:
          - id: pyupgrade
            args: ["--py39-plus"]

    - repo: https://github.com/adamchainz/django-upgrade
      rev: "1.27.0"
      hooks:
          - id: django-upgrade
            args: [--target-version, "4.2"]

    - repo: https://github.com/PyCQA/flake8
      rev: 7.3.0
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-pyproject
                - flake8-bugbear
                - flake8-builtins
                - flake8-django
                - flake8-length
                - flake8-logging-format

    - repo: https://github.com/tox-dev/pyproject-fmt
      rev: v2.6.0
      hooks:
      - id: pyproject-fmt
