include LICENSE
include README.rst
recursive-include djangocms_frontend/locale *
recursive-include djangocms_frontend/static *
recursive-include djangocms_frontend/templates *
recursive-include djangocms_frontend/contrib *
recursive-exclude * *.py[co]
exclude docs/
exclude tests/
exclude tools/
