{% extends "admin/cms/page/plugin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'djangocms_frontend/css/base.css' %}">
    <script src="{% static 'djangocms_frontend/js/bundle.base.js' %}"></script>
    {{ block.super }}
{% endblock %}
{% block content_subtitle %}{% endblock %}
{% block field_sets %}
    <div class="djangocms-frontend
        {% block custom_class %}{% endblock %}" data-static="{% get_static_prefix %}">
        <ul class="djangocms-frontend nav nav-tabs" role="tablist">
            {% for fieldset in adminform %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#tab-{{ forloop.counter }}"
                       data-bs-toggle="tab" id="lnk-{{ forloop.counter }}" type="button" role="tab"
                       data-bs-target="#tab-{{ forloop.counter }}">{{ fieldset.name|default:adminform.model_admin }}
                          <span class="indicator error">
                          </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="djangocms-frontend tab-content">
            {% for fieldset in adminform %}
                <div class="tab-pane fade"
                     id="tab-{{ forloop.counter }}" role="tabpanel">
                        {% include "djangocms_frontend/admin/includes/fieldset.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
