{% load frontend %}{% childplugins instance %}{% endchildplugins %}
{% if request.toolbar.edit_mode_active %}
    <style>
        div.cms .cms-structure .cms-draggable .cms-draggable.cms-draggable-{{ instance.pk|safe }}:has(> .cms-dragitem-expanded) {
            background-color: var(--dca-gray-lightest);
            padding-bottom: 6px;
            border: 2px solid var(--dca-secondary);
            border-radius: 5px;
            > .cms-dragitem {
                background-color: var(--dca-gray-lightest);
                margin-bottom: 2px;
                border: none;
            }
        }
        div.cms .cms-structure .cms-draggable .cms-draggable.cms-draggable-{{ instance.pk|safe }} > .cms-dragitem {
            background-color: var(--dca-gray-lightest);
        }
        .cms-draggable-{{ instance.pk|safe }} > .cms-dragitem > .cms-dragitem-text {
            color: var(--dca-gray);
        }
        .cms-draggable-{{ instance.pk|safe }} > .cms-dragitem > .cms-submenu-edit {
            display: none;
        }
    </style>
{% endif %}