{% extends "djangocms_frontend/admin/base.html" %}
{% load static i18n %}

{% block extrahead %}
    {{ block.super }}
    <style> {# Bugfix for Django admin styling #}
        @media screen {
            .change-form .select2-dropdown {
                background: var(--body-bg);
                border: 1px solid var(--border-color);
            }
        }
        select {
            min-width: 160px;
        }
    </style>
{% endblock %}

{% block field_sets %}
    <div class="djangocms-frontend djangocms-frontend-link"
        data-static="{% get_static_prefix %}"
        data-preview="{% trans "Preview" %}">
        {{ block.super }}
    </div>
{% endblock %}
