// #############################################################################
// GRID
.module {
    margin: 0 0 20px;
}

.djangocms-frontend-row {
    .form-row.field-create .icon {
        position: absolute;
        font-size: 30px;
        margin-top: 28px;
        margin-left: 4px;
    }

    .form-row.field-create input[name="create"] {
        width: 130px !important;
        padding-right: 5px !important;
        text-align: right;
    }
}

.djangocms-frontend-row {
    .form-row.field-row_cols_xs {
        position: relative;
        display: flex;
        padding: 0;
        min-width: 800px;

        .field-box,
        .fieldBox {
            position: relative;
            width: 100px !important;
            padding: 15px 10px;
            margin: 0 !important;
            border-bottom: 1px solid #eee;
            float: left !important;

            input {
                text-align: right;
                padding-right: 5px !important;
                box-sizing: border-box;
                width: 100%;
            }

            label {
                font-size: 12px !important;
                font-weight: normal !important;
                color: #ccc !important;
                position: absolute;
                left: 15px;
                bottom: 17px;
                text-transform: lowercase;
            }

            .disabled {
                color: #ccc;
                background: #eee;
            }

            &:last-child {
                border-right: none;
            }
        }

        .errors {
            margin-bottom: 0;
        }
        .field-box-label {
            display: flex;
            margin-top: auto;
            color: #999;

            a {
                width: 100%;
                margin-top: auto;
            }

            .icon {
                position: relative;
                top: 3px;
            }
        }

    }
}

.djangocms-frontend-row, .djangocms-frontend-column {
    .form-row.field-xs_col,
    .form-row.field-xs_order,
    .form-row.field-xs_offset,
    .form-row.field-xs_ms,
    .form-row.field-xs_me {
        position: relative;
        display: flex;
        padding: 0;
        min-width: 800px;

        .field-box,
        .fieldBox {
            position: relative;
            width: 100px !important;
            padding: 15px 10px;
            margin: 0 !important;
            border-bottom: 1px solid #eee;
            float: left !important;

            input {
                text-align: right;
                padding-right: 5px !important;
                box-sizing: border-box;
                width: 100%;
            }

            label {
                font-size: 12px !important;
                font-weight: normal !important;
                color: #ccc !important;
                position: absolute;
                left: 15px;
                bottom: 17px;
                text-transform: lowercase;
            }

            .disabled {
                color: #ccc;
                background: #eee;
            }

            &:last-child {
                border-right: none;
            }
        }

        .errors {
            margin-bottom: 0;
        }

        .errorlist {
            @include visually-hidden;
        }

        &.field-xs_me .field-box {
            border-bottom: none;
        }

        .field-box-label {
            display: flex;
            margin-top: auto;
            color: #999;

            a {
                width: 100%;
                margin-top: auto;
            }

            .icon {
                position: relative;
                top: 3px;
            }
        }

        //&.field-xs_col .field-box-label a,
        //&.field-xs_offset .field-box-label a,
        //&.field-xs_order .field-box-label a {
        //    position: relative;
        //    top: 8px;
        //}

        // ms/me checkbox
        .field-xs_ms,
        .field-sm_ms,
        .field-md_ms,
        .field-lg_ms,
        .field-xl_ms,
        .field-xxl_ms,
        .field-xs_me,
        .field-sm_me,
        .field-md_me,
        .field-lg_me,
        .field-xl_me,
        .field-xxl_me {
            text-align: left;

            label {
                left: 30px;
                bottom: 14px;
            }

            input {
                position: relative;
                box-sizing: border-box;
                top: -3px;
            }
        }
    }

    .grid-reset {
        position: absolute;
        right: 5px;
        top: 0;
    }

    .icon-thead {
        text-align: center;
        margin-bottom: 15px;

        .icon {
            font-size: 30px;
        }

        .icon-size-sm {
            transform: rotate(90deg);
        }
    }

    .icon-title {
        display: block;
        font-size: 12px;
        color: #999;
        padding: 5px 0 0;
    }
}
