.form-row.field-plugin_title {
    input[name="plugin_title_0"] {
        margin: 1em 1em 1em 0 !important;
        top: 0;
        background: gray;
    }
    input[name="plugin_title_1"] {
        width: calc(100% - 2em) !important;
    }
}
