name: CodeCov

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]  # latest release minus two
        requirements-file: [
            dj42_cms311.txt,
            dj42_cms41.txt,
            dj50_cms41.txt,
            # dj51_cms41.txt,  enable, once filer runs on 5.1
        ]
        os: [
            ubuntu-20.04,
        ]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '2'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate Report
      run: |
        pip install -r tests/requirements/${{ matrix.requirements-file }}
        coverage run run_tests.py
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v4
