name: CodeCov

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.8, 3.9, "3.10", "3.11"]  # latest release minus two
        requirements-file: [
            dj32_cms38.txt,
            dj32_cms39.txt,
            dj32_cms41.txt,
            dj40_cms311.txt,
            dj40_cms41.txt,
            dj41_cms41.txt,
        ]
        os: [
            ubuntu-20.04,
        ]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '2'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate Report
      run: |
        pip install -r tests/requirements/${{ matrix.requirements-file }}
        coverage run setup.py test
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
